<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="fa fa-pencil"></p>
				Sugestão Progride
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<form role="form" name="sugestaoProgrideForm" novalidate>
							<div class="form-group">
								<label>Mensagem</label>
								<input class="form-control" placeholder="Obrigatório" ng-model="ctrl.sugestaoProgride.mensagem" maxlength="1000" required>
							</div>
							<div class="form-group">
								<label>Usuário Sugestão</label>
								<input class="form-control" placeholder="Obrigatório" ng-model="ctrl.sugestaoProgride.usuarioSugestao" maxlength="4" required>
							</div>
							<div class="botoes-group">
								<button id="buttonVoltar" class="btn btn-default" ng-click="ctrl.voltar()">Voltar</button>
								<button id="buttonSalvar" class="btn btn-primary" ng-show="!ctrl.isExcluido"  ng-click="ctrl.salvar()" ng-disabled="sugestaoProgrideForm.$invalid">Salvar</button>
								<button id="buttonExcluir" class="btn btn-danger" ng-show="ctrl.sugestaoProgride.id && !ctrl.isExcluido" 
									mwl-confirm title="Confirmação Exclusão" message="Deseja deletar o registro?" confirm-text="Sim" cancel-text="Não"
              						placement="bottom" on-confirm="ctrl.excluir()" confirm-button-type="danger" animation="true" 
              					>Excluir</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>